website-status-monitor/workflow.json
{
  "name": "Website Status Monitor (Every 5 Min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "website-url",
              "name": "websiteUrl",
              "value": "https://dubaibiglottery.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9b8c7d6-e5f4-3210-abcd-ef9876543210",
      "name": "Set Website URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.websiteUrl }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Website URL').first().json;\nconst websiteUrl = config.websiteUrl;\nlet websiteName = websiteUrl;\n\ntry {\n  websiteName = new URL(websiteUrl).hostname;\n} catch {}\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      websiteUrl,\n      websiteName,\n      statusCode: 0,\n      isUp: false,\n      statusText: 'Website is down',\n      error: 'No response from server'\n    }\n  }];\n}\n\nconst item = items[0].json;\nconst rawStatus = item.statusCode ?? item.status ?? item.response?.statusCode ?? 0;\nconst statusCode = Number(rawStatus) || 0;\nconst isUp = statusCode === 200;\n\nreturn [{\n  json: {\n    websiteUrl,\n    websiteName,\n    statusCode,\n    isUp,\n    statusText: isUp ? 'Website is ok' : 'Website is down',\n    error: item.error?.message || item.error || null\n  }\n}];"
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567899",
      "name": "Normalize Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-is-up",
              "leftValue": "={{ $json.isUp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Status Code 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "muhammadumersheraz@gmail.com",
        "subject": "={{ $json.websiteName }}: {{ $json.statusCode }} - OK",
        "emailType": "text",
        "message": "=Website: {{ $json.websiteUrl }}\nStatus Code: {{ $json.statusCode }}\n\n{{ $json.statusText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Gmail - Website OK",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "muhammadumersheraz@gmail.com",
        "subject": "={{ $json.websiteName }}: {{ $json.statusCode || 'DOWN' }} - Alert",
        "emailType": "text",
        "message": "=Website: {{ $json.websiteUrl }}\nStatus Code: {{ $json.statusCode || 'No response / connection failed' }}\n\n{{ $json.statusText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Gmail - Website Down",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        420
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Website URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Website URL": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Normalize Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Status": {
      "main": [
        [
          {
            "node": "Status Code 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Code 200?": {
      "main": [
        [
          {
            "node": "Gmail - Website OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Website Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6a7b8c9-d0e1-2345-f012-456789012347",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
