website-status-monitor/workflow.json
{
  "name": "Website Status Monitor (Every 5 Min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://example.com",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-is-200",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Status Code 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "muhammadumersheraz@gmail.com",
        "subject": "=Website Monitor: {{ $json.statusCode || 'No Response' }} - OK",
        "emailType": "text",
        "message": "=Website: https://example.com\nStatus Code: {{ $json.statusCode }}\n\nWebsite is ok",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Gmail - Website OK",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        920,
        180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "muhammadumersheraz@gmail.com",
        "subject": "=Website Monitor: {{ $json.statusCode || 'DOWN' }} - Alert",
        "emailType": "text",
        "message": "=Website: https://example.com\nStatus Code: {{ $json.statusCode || 'No response / connection failed' }}\n\nWebsite is down",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Gmail - Website Down",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        920,
        420
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Status Code 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Code 200?": {
      "main": [
        [
          {
            "node": "Gmail - Website OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Website Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6a7b8c9-d0e1-2345-f012-456789012345",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
